.top__staff-container {
    background-image: url('purpose-cover-image.jpg');

    flex-direction: column;
    padding-inline: 2rem;
}

.worker img {
    height: 400px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0, 0.3);
}

.bio__container {
    flex-direction: column;
    color: #DFDFDE;
    width: 100%;
}

.top__staff-container div {
    align-items: center;
    justify-content: space-between;
}

.worker h1 {
    font-size: 2.5rem;
    color: var(--font-secondary);
}

.worker {
    margin: 1.2rem 0;
}

.first__worker, .third__worker {
    align-self: flex-start;
}

.worker:nth-child(2) {
    flex-direction: row-reverse;
}

.second__worker div {
    flex-direction: column-reverse;
}

.bio__container p {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}